= render 'header'
.telephon-main
  .telephon-main__contents
    %h2.telephon-main__contents__text 電話番号の確認
  .telephon-main__form
    .telephon-main__form__list
      = form_for  @user, url: registration3_signup_index_path, method: :get do |f|
        .form-group
          %label.phone-number 携帯電話の番号
          = f.text_field :tell, placeholder: "携帯番号の入力",class:"phone-form"
        %p.tomo-message 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        = f.button "SMSを送信する",class:"button-red "
        %p.kito-message ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
    .bule-message
      電話番号の確認が必要な理由
      = fa_icon "angle-right"
= render 'footer'