.member-header
  %h1
    = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?273499512",width:"185",height:"49"),root_path
  %nav.progress
    %ul.progress-bar
      %li.through#through
        会員情報
        .progress-status
        .progress-status_bar#registration
      %li#tel
        電話番号認証
        .progress-status#tel-tomo
        .progress-status_bar#tel-kito
      %li#region
        お届け先住所入力
        .progress-status#region-tomo
        .progress-status_bar
      %li.payment#payment
        支払い方法
        .progress-status
        .progress-status_bar
      %li.end#end
        完了
        .progress-status
        .progress-status_bar
.member-main__address
  %h2.member-main__title__text 発送元・お届け先住所入力
  .form-tomo
    = form_for  @user, url:signup_index_path , method: :post do |f|
      .form-tomo__list
        .form-list
          .form-kito
            %label お名前
            %span.required 必須
          .address-tomo
            = f.text_field :address_last_name, placeholder: "例) 山田",class:"address-form"
            = f.text_field :address_first_name, placeholder: "例) 綾",class:"address-form"
        .form-list
          .form-kito
            %label お名前カナ
            %span.required 必須
          .address-tomo
            = f.text_field :kana_address_last_name, placeholder: "例) ヤマダ",class:"address-form"
            = f.text_field :kana_address_first_name, placeholder: "例) アヤ",class:"address-form"
        .form-list
          .form-kito
            %label 郵便番号
            %span.required 必須
          .address-tomo
            = f.text_field :postal_code, placeholder: "例) 123-4567",class:"address-form"
        .form-list
          .form-kito
            %label 都道府県
            %span.required 必須
          .address-tomo
            = f.collection_select :prefecture, Prefecture.all, :id, :name, prompt: "--"
        .form-list
          .form-kito
            %label 市町村
            %span.required 必須
          .address-tomo
            = f.text_field :city, placeholder: "例) 刈谷市",class:"address-form"
        .form-list
          .form-kito
            %label 番地
            %span.required 必須
          .address-tomo
            = f.text_field :address, placeholder: "例) 青山1-1-3",class:"address-form"
        .form-list
          .form-kito
            %label 建物名
            %span.required-gray 任意
          .address-tomo
            = f.text_field :building, placeholder: "例) 東京タワー",class:"address-form"
        .form-list
          .form-kito
            %label 電話
            %span.required-gray 任意
          .address-tomo
            = f.text_field :home_tel, placeholder: "例) 09011111111",class:"address-form"
          = f.submit  "次へ進む",class:"button-red"
= render 'footer'