= render 'header'
.member-main__address
  %h2.member-main__title__text 発送元・お届け先住所入力
  .form-tomo
    = form_for  @user, url:signup_index_path , method: :post do |f|
      .form-tomo__list
        .form-list
          .form-kito
            %label お名前
            %span.required 必須
          .address-tomo
            = f.text_field :address_last_name, placeholder: "例) 山田",class:"address-form"
            = f.text_field :address_first_name, placeholder: "例) 綾",class:"address-form"
        .form-list
          .form-kito
            %label お名前カナ
            %span.required 必須
          .address-tomo
            = f.text_field :kana_address_last_name, placeholder: "例) ヤマダ",class:"address-form"
            = f.text_field :kana_address_first_name, placeholder: "例) アヤ",class:"address-form"
        .form-list
          .form-kito
            %label 郵便番号
            %span.required 必須
          .address-tomo
            = f.text_field :postal_code, placeholder: "例) 123-4567",class:"address-form"
        .form-list
          .form-kito
            %label 都道府県
            %span.required 必須
          .address-tomo
            = f.collection_select :prefecture, Prefecture.all, :id, :name, prompt: "--"
        .form-list
          .form-kito
            %label 市町村
            %span.required 必須
          .address-tomo
            = f.text_field :city, placeholder: "例) 刈谷市",class:"address-form"
        .form-list
          .form-kito
            %label 番地
            %span.required 必須
          .address-tomo
            = f.text_field :address, placeholder: "例) 青山1-1-3",class:"address-form"
        .form-list
          .form-kito
            %label 建物名
            %span.required-gray 任意
          .address-tomo
            = f.text_field :building, placeholder: "例) 東京タワー",class:"address-form"
        .form-list
          .form-kito
            %label 電話
            %span.required-gray 任意
          .address-tomo
            = f.text_field :home_tel, placeholder: "例) 09011111111",class:"address-form"
          = f.submit  "次へ進む",class:"button-red"
= render 'footer'