= render "signup/header-logo"
.buy-item-container
  .buy-item-container__main
    = form_for @item do |f|
      %h2.buy-item-container__main__head
        購入内容の確認
      .buy-item-box
        .buy-item-box__bodys
          = image_tag @item.photos[0].image.url, height: "64px"
          .buy-item-box__bodys__name
            = @item.name
        .buy-item-box__price
          .buy-item-box__price__left
            ¥
            = @item.price
          .buy-item-box__price__right
            送料込み
        .buy-item-box__arigato
          ARIGATO!!
        .buy-item-box__sayonara
          = link_to "Topページへ戻る", root_path, class: "back-top"
= render "signup/footer"