= render "signup/header-logo"
.buy-item-container
  .buy-item-container__main
    = form_for @item, url: done_purchases_path, method: :patch do |f|
      %h2.buy-item-container__main__head
        購入内容の確認
      .buy-item-box
        .buy-item-box__bodys
          = image_tag @item.photos[0].image.url, height: "64px"
          .buy-item-box__bodys__name
            = @item.name
        .buy-item-box__price
          .buy-item-box__price__left
            ¥
            = @item.price
          .buy-item-box__price__right
            送料込み
        .buy-item-box__point
          ポイントはありません
        .buy-item-box__total
          .buy-item-box__total__left
            支払い金額
          .buy-item-box__total__right
            ¥
            = @item.price
        .buy-item-box__purchase
          = f.submit "購入する", class: "submit"
  .buy-item-container__case
    .buy-item-container__case__box
      .buy-item-container__case__box__top
        配送先
      .buy-item-container__case__box__name
        =  "〒 #{current_user.postal_code}"
        %br
        = current_user.prefecture
        %br
        = "#{current_user.last_name} #{current_user.first_name}"
      .buy-item-container__case__box__edit
        =link_to "", class:"ships" do
          %span 変更する
          = fa_icon "chevron-right", class: "ships"
  .buy-item-container__pay
    .buy-item-container__pay__box
      .buy-item-container__pay__box__top
        支払い方法
      .buy-item-container__pay__box__name
        = "**** **** **** " + @default_card_information.last4
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      .buy-item-container__case__pay__edit
        =link_to "", class:"ships" do
          %span 変更する
          = fa_icon "chevron-right", class: "ships"
= render "signup/footer"