.header
  .header__box
    .header__box__top
      .header-logo
        = link_to root_path  do
          = image_tag "logo.svg", alt: "mercari", height: "36", width: "134" 
      = form_tag(search_items_path, method: 'get', class: "header-search") do
        = text_field_tag :keyword, params[:keyword], { placeholder: "何かお探しですか？", class: "header-input" }
        %label.header-icon
          %input(type="submit"  class="header-icon__btn")
            = fa_icon 'search', class: 'header-icon__btn__icon'
    .header__box__bottom
      .header__box__bottom__left
        = link_to "#", class: 'header-category' do
          = fa_icon 'list', class: 'header-category__icon'
          %span.header-category__search
            カテゴリーから探す
        = link_to '#', class: 'header-brand' do
          = fa_icon 'tag', class: 'header-brand__icon'
          %span.header-brand__search
            ブランドから探す
        - unless user_signed_in?
          = link_to signup_index_path , class: 'header-sign-UP' do
            .header-sign-UP__box
              新規会員登録
          = link_to new_user_session_path, class: 'header-log-in' do
            .header-log-in__box
              ログイン
        - else 
          = link_to "#", class: 'header-news' do
            %div
              = fa_icon "bell"
              %span.header-news__body
                お知らせ
          = link_to "#", class: 'header-todo' do
            %div
              = fa_icon "check"
              %span.header-todo__body
                やる事リスト
          = link_to home_path(current_user), class: 'header-mypage' do
            .header-mypage__box
              %div
                = image_tag 'member_photo_noimage_thumb.png',class: "header-mypage__box__image",size: "32"
              .header-mypage__box__body
                マイページ
