.mypage__box__left
  .mypage-nav
    = link_to root_path, class: "mypage-link" do
      .mypage-container
        トップページ
    = link_to "#", class: "mypage-link" do
      .mypage-container
        お知らせ
    = link_to "#", class: "mypage-link" do
      .mypage-container
        やる事リスト
    = link_to "#", class: "mypage-link" do
      .mypage-container
        いいね！一覧
    = link_to new_item_path, class: "mypage-link" do
      .mypage-container
        出品する
    = link_to listing_homes_path, class: "mypage-link" do
      .mypage-container
        出品した商品 - 出品中
    = link_to "#", class: "mypage-link" do
      .mypage-container
        出品した商品 - 取引中
    = link_to "#", class: "mypage-link" do
      .mypage-container
        出品した商品 - 売却済み
    = link_to "#", class: "mypage-link" do
      .mypage-container
        購入した商品 - 取引中
    = link_to "#", class: "mypage-link" do
      .mypage-container
        購入した商品 - 過去の取引
    = link_to "#", class: "mypage-link" do
      .mypage-container
        ニュース一覧
    = link_to "#", class: "mypage-link" do
      .mypage-container
        評価一覧
    = link_to "#", class: "mypage-link" do
      .mypage-container
        ガイド
    = link_to "#", class: "mypage-link" do
      .mypage-container
        お問い合わせ
    .mypage-nav__title
      メルペイ
    = link_to "#", class: "mypage-link" do
      .mypage-container
        売上・振込申請
    = link_to "#", class: "mypage-link" do
      .mypage-container
        ポイント
    .mypage-nav__title
      設定
    = link_to  user_path(current_user), class: "mypage-link" do
      .mypage-container
        プロフィール
    = link_to "#", class: "mypage-link" do
      .mypage-container
        発送元・お届け先住所変更
    = link_to cards_users_path , class: "mypage-link" do
      .mypage-container
        支払い方法
    = link_to "#", class: "mypage-link" do
      .mypage-container
        メール/パスワード
    = link_to edit_home_path(current_user), class: "mypage-link" do
      .mypage-container
        本人情報
    = link_to "#", class: "mypage-link" do
      .mypage-container
        電話番号の確認
    = link_to users_path, class: "mypage-link" do
      .mypage-container
        ログアウト