= render 'shared/header' 
.top
  .top__banner
  .top__main
    .top__main__title
      新着アイテム
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          オールジャンル 新着アイテム
      .top-items
        - @items.each do |item|
          .top-items__box
            = link_to item_path(item), class: 'top-link ' do
              =image_tag "#{item.photos[0].image}", class: "top-image" 
              .top-description
                .top-description__name
                  = item.name
                .top-description__bottom
                  .top-description__bottom__price
                    = "¥#{item.price.to_s(:delimited, separator: ' ')}"
                  .top-description__bottom__like
                    = fa_icon "heart"
                    %span.top-description__bottom__like-count
                      = item.like
              - if item.buyer_id?
                .top-sold
                .top-sold-text
                  SOLD
              - if user_signed_in? && current_user.id == item.seller_id
                .top-mine
                  MY
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          メンズ新着アイテム
      .top-items
        - @mens.each do |item|
          .top-items__box
            = link_to item_path(item), class: 'top-link ' do
              =image_tag "#{item.photos[0].image}", class: "top-image" 
              .top-description
                .top-description__name
                  = item.name
                .top-description__bottom
                  .top-description__bottom__price
                    = "¥#{item.price.to_s(:delimited, separator: ' ')}"
                  .top-description__bottom__like
                    = fa_icon "heart"
                    %span.top-description__bottom__like-count
                      = item.like
              - if item.buyer_id?
                .top-sold
                .top-sold-text
                  SOLD
              - if user_signed_in? && current_user.id == item.seller_id
                .top-mine
                  MY
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          ベビー・キッズ 新着アイテム
      .top-items
        - @kids.each do |item|
          .top-items__box
            = link_to item_path(item), class: 'top-link ' do
              =image_tag "#{item.photos[0].image}", class: "top-image" 
              .top-description
                .top-description__name
                  = item.name
                .top-description__bottom
                  .top-description__bottom__price
                    = "¥#{item.price.to_s(:delimited, separator: ' ')}"
                  .top-description__bottom__like
                    = fa_icon "heart"
                    %span.top-description__bottom__like-count
                      = item.like
              - if item.buyer_id?
                .top-sold
                .top-sold-text
                  SOLD
              - if user_signed_in? && current_user.id == item.seller_id
                .top-mine
                  MY
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          おもちゃ・ホビー・グッズ 新着アイテム
      .top-items
        - @toys.each do |item|
          .top-items__box
            = link_to item_path(item), class: 'top-link ' do
              =image_tag "#{item.photos[0].image}", class: "top-image" 
              .top-description
                .top-description__name
                  = item.name
                .top-description__bottom
                  .top-description__bottom__price
                    = "¥#{item.price.to_s(:delimited, separator: ' ')}"
                  .top-description__bottom__like
                    = fa_icon "heart"
                    %span.top-description__bottom__like-count
                      = item.like
              - if item.buyer_id?
                .top-sold
                .top-sold-text
                  SOLD
              - if user_signed_in? && current_user.id == item.seller_id
                .top-mine
                  MY
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
  - if user_signed_in?  
    .top__main
      .top__main__title
        マイコンテンツ
      - unless @mysells == []
        .top__main__box
          .top__main__box__title 
            = link_to listing_homes_path, class: 'top-link top-genre' do
              出品中の商品
          .top-items
            - @mysells.each do |item|
              .top-items__box
                = link_to item_path(item), class: 'top-link ' do
                  =image_tag "#{item.photos[0].image}", class: "top-image" 
                  .top-description
                    .top-description__name
                      = item.name
                    .top-description__bottom
                      .top-description__bottom__price
                        = "¥#{item.price.to_s(:delimited, separator: ' ')}"
                      .top-description__bottom__like
                        = fa_icon "heart"
                        %span.top-description__bottom__like-count
                          = item.like
                  - if item.buyer_id?
                    .top-sold
                    .top-sold-text
                      SOLD
                  - if user_signed_in? && current_user.id == item.seller_id
                    .top-mine
                      MY
          .top-look
            = link_to "#", class: 'top-link top-look__all' do
              すべての商品を見る
      - unless @mybuys == []
        .top__main__box
          .top__main__box__title 
            = link_to "#", class: 'top-link top-genre' do
              購入商品
          .top-items
            - @mybuys.each do |item|
              .top-items__box
                = link_to item_path(item), class: 'top-link ' do
                  =image_tag "#{item.photos[0].image}", class: "top-image" 
                  .top-description
                    .top-description__name
                      = item.name
                    .top-description__bottom
                      .top-description__bottom__price
                        = "¥#{item.price.to_s(:delimited, separator: ' ')}"
                      .top-description__bottom__like
                        = fa_icon "heart"
                        %span.top-description__bottom__like-count
                          = item.like
                  - if item.buyer_id?
                    .top-sold
                    .top-sold-text
                      SOLD
                  - if user_signed_in? && current_user.id == item.seller_id
                    .top-mine
                      MY
          .top-look
            = link_to "#", class: 'top-link top-look__all' do
              すべての商品を見る
      - unless @mysolds == []
        .top__main__box
          .top__main__box__title 
            = link_to "#", class: 'top-link top-genre' do
              売れた商品
          .top-items
            - @mysolds.each do |item|
              .top-items__box
                = link_to item_path(item), class: 'top-link ' do
                  =image_tag "#{item.photos[0].image}", class: "top-image" 
                  .top-description
                    .top-description__name
                      = item.name
                    .top-description__bottom
                      .top-description__bottom__price
                        = "¥#{item.price.to_s(:delimited, separator: ' ')}"
                      .top-description__bottom__like
                        = fa_icon "heart"
                        %span.top-description__bottom__like-count
                          = item.like
                  - if item.buyer_id?
                    .top-sold
                    .top-sold-text
                      SOLD
                  - if user_signed_in? && current_user.id == item.seller_id
                    .top-mine
                      MY
          .top-look
            = link_to "#", class: 'top-link top-look__all' do
              すべての商品を見る
= render 'shared/footer' 
= render 'shared/red_icon'
