= render 'shared/header' 
.top
  .top__banner
  .top__main
    .top__main__title
      ピックアップカテゴリー
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          レディース 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          メンズ新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          ベビー・キッズ 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          コスメ・香水・美容 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
  .top__main
    .top__main__title
      ピックアップブランド
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          シャネル 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image"
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          ルイ ヴィトン 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          シュプリーム 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          ナイキ 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            =image_tag 'kakarotto.jpeg', class: "top-image" 
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
= render 'shared/footer' 
= render 'shared/red_icon'
