= render 'shared/header' 
.top
  .top__banner
  .top__main
    .top__main__title
      ピックアップカテゴリー
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          レディース 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          メンズ新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          ベビー・キッズ 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          コスメ・香水・美容 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
  .top__main
    .top__main__title
      ピックアップブランド
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          シャネル 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          ルイ ヴィトン 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          シュプリーム 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
    .top__main__box
      .top__main__box__title 
        = link_to "#", class: 'top-link top-genre' do
          ナイキ 新着アイテム
      .top-items
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://pbs.twimg.com/media/D-GGVNTXsAEOzqh.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'http://lineup.toei-anim.co.jp/upload/save_image/episode/1050/story_img_2.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link ' do
            %img.top-image{src: 'https://www.c-nagoya.co.jp/file/cms/34703/455209/image.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
        .top-items__box
          = link_to "#", class: 'top-link' do
            %img.top-image{src: 'https://pbs.twimg.com/profile_images/724242488974708736/H1kizGzA_400x400.jpg'}
            .top-description
              .top-description__name
                マタニティ用 デニムマタニティ用 デニムマタニティ用 デニム
              .top-description__bottom
                .top-description__bottom__price
                  ¥2,500
                .top-description__bottom__like
                  = fa_icon "heart"
                  %span.top-description__bottom__like-count
                    10
      .top-look
        = link_to "#", class: 'top-link top-look__all' do
          すべての商品を見る
= render 'shared/footer' 




