= render "signup/header-logo"
.product-container
  .product-container__main
    = form_for @item, url:items_path, method: :post do |f| 
      %h2.product-container__main__head
        商品の情報を入力
      .product-container__main__image
        .product-container__main__image__text
          %h3.product-container__main__image__up
            出品画像
            %span.form-require  
              必須
          %p
            最大5枚までアップロードできます。
        .fiele_field
          = f.fields_for :photos do |photo|
            %label
              .image_up
                = photo.file_field :image, type:"file",name:"item[photos_attributes][0][image]",class:" product-container__main__image__box ",id:"file_0"
                #image_0
            %label
              .image_up
                .image_up__text
                = photo.file_field :image, type:"file",name:"item[photos_attributes][1][image]" ,class:"product-container__main__image__box ",id:"file_1"
                #image_1
            %label
              .image_up
                .image_up__text
                = photo.file_field :image, type:"file",name:"item[photos_attributes][2][image]",class:" product-container__main__image__box ",id:"file_2"
                #image_2
            %label
              .image_up
                .image_up__text
                = photo.file_field :image, type:"file",name:"item[photos_attributes][3][image]",class:" product-container__main__image__box ",id:"file_3"
                #image_3
            %label
              .image_up
                .image_up__text
                = photo.file_field :image, type:"file",name:"item[photos_attributes][4][image]",class:" product-container__main__image__box ",id:"file_4"
                #image_4
      .product-container__main__explain
        .product-container__main__explain__a
          %label.label
            商品名
            %span.form-require 
              必須
          = f.text_field :name, class: "product-container__main__explain__a__input", placeholder: "商品名 必須(40字まで)"
        .product-container__main__explain__b
          %label.label
            商品の説明
            %span.form-require 
              必須
          = f.text_area :description, class: "product-container__main__explain__b__input", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .product-container__main__detail
        .product-container__main__detail__left
          商品の詳細
        .product-container__main__detail__right
          .form-list
            .product-container__main__detail__right__a
              %label.label
                カテゴリー
              %span.form-require 
                必須
            = f.select :category_id ,options_for_select(@category.map{|p|[p.name, p.id]}) , prompt: "---"
            #select_children 
          .form-list
            .product-container__main__detail__right__b
              %label.label
                商品の状態
              %span.form-require 
                必須
            = f.collection_select :state, State.all, :id, :name, prompt: "---"
      .product-container__main__delivery
        .product-container__main__delivery__left
          配送について
          = link_to " ", class: "question" do
            ?
        .product-container__main__delivery__right
          .form-list#delivery
            .product-container__main__delivery__right__a
              %label.label
                配送料の負担
              %span.form-require 
                必須
            = f.collection_select :delivery, Delivery.all, :id, :name, prompt: "---"
          .form-list.method#shipping_method
            .product-container__main__delivery__right__a
              %label.label
                配送の方法
              %span.form-require 
                必須
            = f.collection_select :shipping_method ,Shipping_method.all,:id, :name,prompt: "---", selected: @item.shipping_method_before_type_cast
          .form-list
            .product-container__main__delivery__right__b
              %label.label
                発送元の地域
              %span.form-require 
                必須
            = f.collection_select :region, Prefecture.all, :id, :name, prompt: "--", class: 'info-select'
          .form-list
            .product-container__main__delivery__right__c
              %label.label
                発送までの日数
              %span.form-require 
                必須
            = f.collection_select :shipping_time, Shipping_time.all, :id, :name, prompt: "---"
      .product-container__main__price
        .product-container__main__price__left
          販売価格(300〜9,999,999)
          = link_to " ", class: "question" do
            ?
        .product-container__main__price__right
          .product-container__main__price__right__up
            .product-container__main__price__right__up__a
              %label.label
                価格
              %span.form-require 
                必須
            .product-container__main__price__right__up__b
              %p ¥
              = f.text_field :price, class: "product-container__main__price__right__up__b__input", placeholder: "例）300"
          #price
          .product-container__main__price__right__middle
            .product-container__main__price__right__middle__a
              %p 販売手数料(10%)
            .product-container__main__price__right__middle__b
              %p#fee_before -
          .product-container__main__price__right__down
            .product-container__main__price__right__down__a
              %p 販売利益
            .product-container__main__price__right__down__b
              %p#profit_before -
      .product-container__main__sell
        .product-container__main__sell__up
          %p
            = link_to "禁止されている出品", "", class: "jump"
            = link_to "行為", "", class: "jump"
            を必ずご確認ください。
            %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", "", class: "jump"
            は犯罪であり処罰される可能性があります。
            %br
            また、出品をもちまして
            = link_to "加盟店規約", "", class: "jump"
            に同意したことになります。
        .product-container__main__sell__middle
          = f.submit "出品する", class: "product-container__main__sell__middle__submit"
        .product-container__main__sell__down
          = link_to "もどる", root_path, class: "product-container__main__sell__down__back"
= render "signup/footer"