= render 'shared/header' 
.detail
  .detail__box
    .detail__box__title
      = @item.name
    .detail__box__list
      .detail-image-box
        = image_tag "#{@item.photos[0].image}", size: "300", class: "detail-main-image"
        -if @item.buyer_id?
          .detail-sold 
          .sold
            SOLD
        .detail-image-list
          - @item.photos.each do |photo|
            = image_tag "#{photo.image}", size: "60", class: "detail-images"
            -# = image_tag "polo2.jpg", size: "60", class: "detail-images detail-opa"
            -# = image_tag "polo3.jpg", size: "60", class: "detail-images detail-opa"
      .detail-info
        .detail-info__box
          .detail-info__box__left
            出品者
          .detail-info__box__right
            = link_to "#", class: "detail-link detail-info__box__right__link" do
              = @user.nickname
              %br
            = fa_icon "thumbs-up", class: "detail-like"
            %span
              = @item.like
        .detail-info__box
          .detail-info__box__left
            カテゴリー
          .detail-info__box__right
            = link_to "#", class: "detail-link" do
              = @item.category.name
        .detail-info__box
          .detail-info__box__left
            ブランド
          .detail-info__box__right
            = link_to "#", class: "detail-link detail-info__box__right__link" do
              不明
        .detail-info__box
          .detail-info__box__left
            商品のサイズ
          .detail-info__box__right
            不明
        .detail-info__box
          .detail-info__box__left
            商品の状態
          .detail-info__box__right
            = State.find(@item.state).name
        .detail-info__box
          .detail-info__box__left
            配送料の負担
          .detail-info__box__right
            = Delivery.find(@item.delivery).name
        .detail-info__box
          .detail-info__box__left
            配送の方法
          .detail-info__box__right
            = Shipping_method.find(@item.shipping_method).name
        .detail-info__box
          .detail-info__box__left
            配送元地域
          .detail-info__box__right
            = link_to "#", class: "detail-link detail-info__box__right__link" do
              = Prefecture.find(@item.region).name
        .detail-info__box
          .detail-info__box__left
            発送日の目安
          .detail-info__box__right
            = Shipping_time.find(@item.shipping_time).name
    .detail-price
      %span.detail-price__price
        = "¥#{@item.price.to_s(:delimited, separator: ' ')}"
      %span.detail-price__tax
        (税込)
      -# %span.detail-price__message
      -#   送料込み
    -if user_signed_in? && current_user.id == @item.seller_id && @item.buyer_id?
      .detail-sold-out
        = "#{@buyer.nickname}様購入"
    -elsif user_signed_in? &&  current_user.id == @item.seller_id
      = link_to  edit_item_path(@item), class: "detail-link" do
        .detail-buy__btn
          商品を編集する
    - elsif @item.buyer_id?
      .detail-sold-out
        売り切れました
    - else @item.buyer_id? 
      - if user_signed_in?
        = link_to  purchase_path(@item), class: "detail-link" do
          .detail-buy__btn
            購入画面に進む
      - else
        = link_to new_user_session_path , class: "detail-link" do
          .detail-buy__btn
            購入画面に進む
    .detail-text
      = @item.description
    %div
      %button.detail-like-btn
        = fa_icon "heart", class: "detail-like-btn__heart"
        %span
          いいね！
        %span
          = @item.like
      = link_to "#",class: "detail-link detail-report" do
        =fa_icon "flag"
        %span
          不適切な商品の報告
      = link_to "#", class: "detail-link detail-right" do
        あんしん・あんぜんへの取り組み
  .detail-comment-box
    %form
      .detail-comment-box__message
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります
      %textarea.detail-text
      - unless @item.buyer_id?
        %button.detail-btn
          コメントする
      - else
        .detail-no-comment
          売り切れのためコメントできません
  .detail-nav
    = link_to item_path(@rand_items[0]), class: "detail-nav__before detail-link" do
      = "＜#{@rand_items[0].name}"
    = link_to item_path(@rand_items[-1]), class: "detail-link detail-nav__after" do
      = "#{@rand_items[-1].name}＞"
  .detail__icons
    = link_to "#", class: "detail-link" do
      =fa_icon "facebook", class: "detail-icon detail-facebook"
    = link_to "#", class: "detail-link" do
      =fa_icon "twitter", class: "detail-icon"
    = link_to "#", class: "detail-link" do
      =fa_icon "instagram", class: "detail-icon detail-instagram"
  .detail__other
    - unless @items == []
      = link_to "#", class: "detail-link detail__other__link" do
        = "#{@user.nickname}さんのその他の商品"
      .detail__other__items
        - @items.each do |item|
          = link_to item_path(item), class: "detail-link" do
            .detail-item
              = image_tag "#{item.photos[0].image}", size: "220"
              .detail-item__description
                .detail-item__name
                  = item.name
                .detail-item__price
                  .detail-item__price__price
                    = "￥#{item.price}"
                  = fa_icon "heart", class: "detail-icon"
                  .detail-like
                    = item.like
              - if  item.buyer_id?
                .detail-item-sold
                .sold-text
                  SOLD
    .detail__other
    = link_to "#", class: "detail-link detail__other__link" do
      その他の商品
    .detail__other__items
      - @oter_items.each do |item|
        = link_to item_path(item), class: "detail-link" do
          .detail-item
            = image_tag "#{item.photos[0].image}", size: "220"
            .detail-item__description
              .detail-item__name
                = item.name
              .detail-item__price
                .detail-item__price__price
                  = "￥#{item.price}"
                = fa_icon "heart", class: "detail-icon"
                .detail-like
                  = item.like
            - if  item.buyer_id?
              .detail-item-sold
              .sold-text
                SOLD
  .detail__bottom
= render 'shared/footer'
