= render 'shared/header' 
.mypage
  .mypage__box
    = render 'shared/side_bar'
    .log-out
      .log-out__text
        .log-out__text__message
          支払い方法
        .log-out__box
          = render "pay"
= render 'shared/footer' 
= render 'shared/red_icon'